<div class="row">
  <div class="col">
    <ol class="list-group">
      <li *ngFor="let todo of todos" class="list-group-item">
        {{ todo.name }} : {{ todo.content }}
        <i
          (click)="deleteTodo(todo)"
          class="fa fa-trash fa-2x" aria-hidden="true"></i>
      </li>
    </ol>
  </div>
  <div class="col">
    name:
    <input type="text" class="form-control mb-2" [(ngModel)]="todo.name" />
    content :
    <input type="text" class="form-control mb-2" [(ngModel)]="todo.content" />
    <button
      [disabled]="!todo.name.trim().length || !todo.content.trim().length"
      (click)="addTodo()"
      class="btn btn-primary"
    >
      Add Todo
    </button>
  </div>
</div>
